%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", "http-equiv" => "Content-Type", :name => "viewport"}/
  %title Testbed2
  = csrf_meta_tags
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic", :rel => "stylesheet"}/
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'hello_vue'
