.content-wrapper
  %section.content-header
    %h1
      Page Header
      %small Optional description
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          Level
      %li.active Here
  %section.content.container-fluid
    %p.notice
      = notice
      notices go here
    %p.alert
      = alert
      alerts go here
    = yield
