%html
  = render partial: "layouts/application_shared_head"

  %body.hold-transition.login-page
    .login-box
      .login-logo
        %a{:href => "../../index2.html"}
          %b> Admin
          LTE
      .login-box-body
        = yield

    = render partial: "layouts/application_shared_post"